// software information
manifest {
    name            = 'PanVariants'
    author          = 'Heng Yi'
    description     = 'PanVariants: Pangenome-based variant calling pipeline'
    mainScript      = 'main.nf'
    nextflowVersion = '>=23.04.2'
    version         = '0.1.0'
}


// 参数设置
params {
    pipeline_dir = "$baseDir"
    fq_filter = "no" // 是否做fq过滤，"yes" or "no"
    re_alignment = "no" // 是否做bwa重新比对未比对上的reads, "yes" or "no"
    mark_dup = "no" // 是否标记重复, "yes" or "no"
    split_bam = "no" // 是否按染色体拆分bam然后跑deepvariant

// queue information
    queue_mgi  = "mgi.q"
    project_id = "MGI_LATVIA"
    threads    = 32

// fq filter
    soapnuke = "/usr/local/app/PanVariants/tools/SOAPnuke-2.1.9/SOAPnuke"
    // Default: AD153 adapter
    adapter1 = "AAGTCGGAGGCCAAGCGGTCTTAGGAAGACAA"
    adapter2 = "AAGTCGGATCGTAGCCATGTCGTTCTGTGAGCCAAGGAGTTG"
    n_base_ratio = 0.1
    low_quality_ratio = 0.5
    qcthreshold = 12

// bwa align
    bwa = "/usr/local/app/PanVariants/tools/bwa-0.7.17/bwa"
    bwa_mem2 = "/usr/local/app/PanVariants/tools/bwa-mem2-2.3_x64-linux/bwa-mem2"

// SNVs_INDELs settings
    // KMC
    kmc              = "/usr/local/app/PanVariants/tools/KMC/bin/kmc"

    // VG Giraffe
    vg = "/usr/local/app/PanVariants/tools/vg-v1.66.0/vg"
    samtools = "/usr/local/app/PanVariants/tools/samtools-1.10/samtools"
    GRCh38_gbz = "$DB/pangenome/grch38/hprc-v1.1-mc-grch38.gbz"
    GRCh38_hapl = "$DB/pangenome/grch38/hprc-v1.1-mc-grch38.hapl"
    GRCh38_refpath = "$DB/fa_path/GCA_000001405.15_GRCh38_no_alt_analysis_set.fa"
    GRCh38_bwa_refpath = "$DB/fa_path/bwa_index/GCA_000001405.15_GRCh38_no_alt_analysis_set.fa"
    GRCh38_only_chromosome_fa = "$DB/fa_path/GCA_000001405.15_GRCh38_only_chromosome.fa"
    CHM13_gbz = "$DB/pangenome/chm13/hprc-v1.1-mc-chm13.gbz"
    CHM13_hapl = "$DB/pangenome/chm13/hprc-v1.1-mc-chm13.hapl"
    CHM13_refpath = "$DB/fa_path/CHM13v11Y.fa"
    CHM13_only_chromosome_fa = "$DB/fa_path/CHM13v11Y_only_chromosome.fa"

    ref          = "GRCh38"
    lb               = "DNBSEQ"
    pl               = "MGI"
    id               = "1"
    pu               = "unit1"

    // DeepVariant
    dvmodel          = "WGS"
    customized_model = "$DB/deepvariant_model/checkpoint-141056-0.98654-1"

    // Benchmark
    standard_sample  = 1
    GRCh38_snvs_indels_basevcf  = "$DB/HG2_T2TQ100_Truthset/GRCh38/GRCh38_HG2-T2TQ100-V1.1_smvar.vcf.gz"
    GRCh38_snvs_indels_basebed  = "$DB/HG2_T2TQ100_Truthset/GRCh38/GRCh38_HG2-T2TQ100-V1.1_smvar.benchmark.bed"
    GRCh38_snvs_indels_basetsv  = "$DB/stratifications/v3.6/GRCh38@all/GRCh38-simple-stratifications.tsv"
    GRCh38_snvs_indels_basesdf  = "$DB/RTG/GRCh38.sdf/"
    CHM13_snvs_indels_basevcf = "$DB/HG2_T2TQ100_Truthset/CHM13/CHM13v2.0_HG2-T2TQ100-V1.1_smvar.vcf.gz"
    CHM13_snvs_indels_basebed = "$DB/HG2_T2TQ100_Truthset/CHM13/CHM13v2.0_HG2-T2TQ100-V1.1_smvar.benchmark.bed"
    CHM13_snvs_indels_basetsv = "$DB/stratifications/v3.6/CHM13@all/CHM13-all-stratifications.tsv"
    CHM13_snvs_indels_basesdf = "$DB/RTG/CHM13v11Y.sdf/"
    rtg = "/usr/local/app/PanVariants/tools/rtg-tools-3.11/rtg"

// SVs_settings

    run_sv = "yes"  // 控制是否运行 SV 分析
    // mergePE
    seqtk = "/usr/bin/seqtk"

    // manta
    configManta_py = "/opt/manta/bin/configManta.py"

    // pangenie
    pangenie = "/usr/local/app/PanVariants/tools/pangenie/build/src/PanGenie"
    truvari = "/usr/local/bin/truvari"
    GRCh38_pangenie_index_path = "$DB/pangenie/grch38/reference/HPRC_GRCh38"
    GRCh38_pangenie_graph_prefix = "HPRC_GRCh38"
    CHM13_pangenie_index_path = "$DB/pangenie/CHM13/reference/HPRC_CHM13"
    CHM13_pangenie_graph_prefix = "HPRC_CHM13"
    
    // truvari
    svs_basename= "HG2-T2TQ100-V1.1_stvar"
    GRCh38_svs_basebed = "$DB/HG2_T2TQ100_Truthset/GRCh38/GRCh38_HG2-T2TQ100-V1.1_stvar.benchmark_1_22.bed"
    GRCh38_svs_basevcf = "$DB/HG2_T2TQ100_Truthset/GRCh38/GRCh38_HG2-T2TQ100-V1.1_stvar_1_22.vcf.gz"
    CHM13_svs_basebed = "$DB/HG2_T2TQ100_Truthset/CHM13/CHM13v2.0_HG2-T2TQ100-V1.1_stvar.benchmark_1_22.bed"
    CHM13_svs_basevcf = "$DB/HG2_T2TQ100_Truthset/CHM13/CHM13v2.0_HG2-T2TQ100-V1.1_stvar_1_22.vcf.gz"

    // CNVs_settings

    run_cnv = "yes"  // 控制是否运行 CNV 分析，默认为false
    cnv_bin_size = 1000  // CNVnator的bin大小
    cnvnator2VCF_pl = "$SCRIPTS/cnvnator2VCF.pl"
    cnvnator_filter_pl = "$SCRIPTS/cnvnator_filter.pl"
    cnvnator = "/usr/local/app/CNVnator/CNVnator_v0.4.1/src/cnvnator"
    thisroot_sh = "/usr/local/app/CNVnator/root/bin/thisroot.sh"
    cnvs_json = "$DB/HG2_T2TQ100_Truthset/GRCh38/GRCh38_HG2-T2TQ100-V1.1_cnvar.json"
    cnvs_basevcf = "$DB/HG2_T2TQ100_Truthset/GRCh38/GRCh38_HG2-T2TQ100-V1.1_cnvar.vcf.gz"  // CNV基准VCF
    cnvs_basebed = "$DB/HG2_T2TQ100_Truthset/GRCh38/GRCh38_HG2-T2TQ100-V1.1_cnvar.benchmark.bed"
    // grch38_gap_bed = "/hwfssz9/MGI_LATVIA/BIT/yiheng/ref/gap_regions/GRCh38_gap_region.bed"  // gap区域BED文件
    bedtools = "/usr/bin/bedtools"
    vcftools = "/usr/bin/vcftools"
    wittyer = "/usr/local/app/PanVariants/tools/Wittyer/bin/Release/netcoreapp2.0/Wittyer.dll"
    truvari_config = "$DB/config_wittyer_CNV.json"

    // STR
    run_str = "yes"
    ExpansionHunter = "/opt/eh/bin/ExpansionHunter"
    GRCh38_variant_catalog = "$DB/STR/RepeatCatalogs/hg38/variant_catalog.json"
    CHM13_variant_catalog = "$DB/STR/RepeatCatalogs/CHM13/variant_catalog_chm13v2.0.json"
    
    // other tools
    bgzip = "/usr/bin/bgzip"
    bcftools = "/usr/local/app/PanVariants/tools/bcftools-1.22/bin//bcftools"
    tabix = "/usr/bin/tabix"
    perl = "/usr/bin/perl"
    python3 = "/usr/bin/python3"
    GATK = "/usr/local/app/PanVariants/tools/GenomeAnalysisTK.jar"
    java = "/usr/bin/java"

    //scripts
    converter_script = "$SCRIPTS/EHVCFConverter.py"
    truvarizer_script = "$SCRIPTS/Truvarizer.py"
    generateUsageReport_py = "/usr/local/app/PanVariants/tools/generateUsageReport/generateUsageReport.py"

    // images
    main_image = "$baseDir/sifs/PanVariants.sif"
    deepvariant_image = "$baseDir/sifs/deepvariant.sif"
    CNVnator_image = "$baseDir/sifs/CNVnator.sif"
    expansionhunter_image = "$baseDir/sifs/expansionhunter.sif"
    manta_image = "$baseDir/sifs/manta.sif"

}

// profiles settings
profiles {
    local {
        process {
            executor = 'local'
            cpus     = "${params.threads}"
            memory   = '10g'
            withName: 'merge_fq_PE'{
                cpus = 1
                memory = '1g'
            }
            withName: 'kmcProcess' {
                cpus     = "${params.threads}"
                memory   = '40g'
            }

            withName: 'vgPaths' { 
                cpus     = "4"
                memory   = '15g'
            }

            withName: 'vgGiraffe' { 
                cpus     = "${params.threads}"
                memory   = '65g'
            }

            withName: 'samtoolsSort' { 
                cpus     = "${params.threads}"
                memory   = '45g'
            }
            withName: 'extract_unmapped_reads' { 
                cpus     = "${params.threads}"
                memory   = '1g'
            }
            withName: 'bwa_align' { 
                cpus     = "${params.threads}"
                memory   = '50g'
            }
            withName: 'extract_mapped_reads' { 
                cpus     = "${params.threads}"
                memory   = '1g'
            }
            withName: 'sort_and_convert_to_fastq' { 
                cpus     = "${params.threads}"
                memory   = '1g'
            }
            withName: 'merge_bam' { 
                cpus     = "${params.threads}"
                memory   = '1g'
            }
            withName: 'sort_merge_bam' { 
                cpus     = "${params.threads}"
                memory   = '30g'
            }
            withName: 'bam_stat' { 
                cpus     = "${params.threads}"
                memory   = '1g'
            }
            withName: 'samtools_markdup_dv' { 
                cpus     = "${params.threads}"
                memory   = '60g'
            }
            withName: 'split_bam' { 
                cpus     = "${params.threads}"
                memory   = '1g'
            }
            withName: 'deepVariant_chr' { 
                cpus     = 24
                memory   = '100g'
                container = "${params.deepvariant_image}"
            }
            withName: 'collect_vcf' { 
                cpus     = 1
                memory   = '1g'
            }
            withName: 'merge_vcf' { 
                cpus     = 1
                memory   = '10g'
            }
            withName: 'deepVariant' { 
                cpus     = 24
                memory   = '138g'
                container = "${params.deepvariant_image}"
            }

            withName: 'run_rtgtools' {
                cpus     = "${params.threads}"
                memory   = '100g'
            }

            // SV process resource settings
            withName: 'mergePeReads' {
                cpus = 1
                memory = '1g'
            }
            
            withName: 'runPangenie' {
                cpus = "${params.threads}"
                memory = '40g'
            }
            withName: 'Pangenie_postprocess'{
                cpus = 2
                memory = '2g'
            }
            withName: 'SV_add_type'{
                cpus = 1
                memory = '1g'
            }
            withName: 'run_manta'{
                cpus     = "${params.threads}"
                memory   = '6g'
                container = "${params.manta_image}"
            }
            withName: 'truvariBench' {
                cpus = 1
                memory = '1g'
            }

            // CNV  process resource settings
            withName: 'runCNVnator'{
                cpus     = "${params.threads}"
                memory   = '20g'
                container = "${params.CNVnator_image}"
                shell = "$baseDir/runit -s -l `echo \$(basename \$(dirname \$PWD))_\$(basename \$PWD)` -O 15 /bin/bash"
            }
            withName: 'cnvBench'{
                cpus = "${params.threads}"
                memory = '30g'
            }

            // STR process resource settings
            withName: 'runExpansionHunter'{
                cpus = "${params.threads}"
                memory = '8g'
                container = "${params.expansionhunter_image}"
            }
            withName: 'STR_filter'{
                cpus = 1
                memory = '1g'
            }
            withName: 'adjformat'{
                cpus = 1
                memory = '1g'
            }

            // Merge SV, STR, CNV process resource settings
            withName: 'sample_concat'{
                cpus = 1
                memory = '1g'
            }
            withName: 'vcf_normalize_collapse'{
                cpus = 1
                memory = '1g'
            }
            withName: 'exclude_overlap'{
                cpus = 2
                memory = '1g'
            }
            withName: 'reheader_merge_vcf'{
                cpus = 1
                memory = '1g'
            }

            // benchmark
            withName: 'truvariBench'{
                cpus = 1
                memory = '1g'
            }
            withName: 'get_UsageReport'{
                cpus = 1
                memory = '1g'
            }
        }
    }

    blc {
        process {
            executor       = 'sge'
            cpus           = "${params.threads}"
            memory         = '10g'
            clusterOptions = "-clear -cwd -l vf=${memory},num_proc=${cpus} -binding linear:${cpus} ${params.project_para} ${params.queue}"
             withName: 'merge_fq_PE'{
                cpus = 1
                memory = '1g'
                clusterOptions = "-clear -cwd -l vf=${memory},num_proc=${cpus} -binding linear:${cpus} ${params.project_para} ${params.queue}"
            }
            withName: 'fqfilter' {
                cpus = "${params.threads}"
                memory = '20g'
                clusterOptions = "-clear -cwd -l vf=${memory},num_proc=${cpus} -binding linear:${cpus} ${params.project_para} ${params.queue}"
            }
            withName: 'kmcProcess' {
                cpus = "${params.threads}"
                memory = '40g'
                clusterOptions = "-clear -cwd -l vf=${memory},num_proc=${cpus} -binding linear:${cpus} ${params.project_para} ${params.queue}"
            }

            withName: 'vgPaths' {
                cpus = 4
                memory = '15g'
                clusterOptions = "-clear -cwd -l vf=${memory},num_proc=${cpus} -binding linear:${cpus} ${params.project_para} ${params.queue}"
            }

            withName: 'vgGiraffe' {
                cpus = "${params.threads}"
                memory = '65g'
                clusterOptions = "-clear -cwd -l vf=${memory},num_proc=${cpus} -binding linear:${cpus} ${params.project_para} ${params.queue}"
            }

            withName: 'samtoolsSort' {
                cpus = "${params.threads}"
                memory = '45g'
                clusterOptions = "-clear -cwd -l vf=${memory},num_proc=${cpus} -binding linear:${cpus} ${params.project_para} ${params.queue}"
            }
            withName: 'extract_unmapped_reads' { 
                cpus     = "${params.threads}"
                memory   = '1g'
                clusterOptions = "-clear -cwd -l vf=${memory},num_proc=${cpus} -binding linear:${cpus} ${params.project_para} ${params.queue}"
            }
            withName: 'bwa_align' { 
                cpus     = "${params.threads}"
                memory   = '50g'
                clusterOptions = "-clear -cwd -l vf=${memory},num_proc=${cpus} -binding linear:${cpus} ${params.project_para} ${params.queue}"
            }
            withName: 'extract_mapped_reads' { 
                cpus     = "${params.threads}"
                memory   = '1g'
                clusterOptions = "-clear -cwd -l vf=${memory},num_proc=${cpus} -binding linear:${cpus} ${params.project_para} ${params.queue}"
            }
            withName: 'sort_and_convert_to_fastq' { 
                cpus     = "${params.threads}"
                memory   = '1g'
                clusterOptions = "-clear -cwd -l vf=${memory},num_proc=${cpus} -binding linear:${cpus} ${params.project_para} ${params.queue}"
            }
            withName: 'merge_bam' { 
                cpus     = "${params.threads}"
                memory   = '1g'
                clusterOptions = "-clear -cwd -l vf=${memory},num_proc=${cpus} -binding linear:${cpus} ${params.project_para} ${params.queue}"
            }
            withName: 'sort_merge_bam' { 
                cpus     = "${params.threads}"
                memory   = '30g'
                clusterOptions = "-clear -cwd -l vf=${memory},num_proc=${cpus} -binding linear:${cpus} ${params.project_para} ${params.queue}"
            }
            withName: 'bam_stat' { 
                cpus     = "${params.threads}"
                memory   = '1g'
                clusterOptions = "-clear -cwd -l vf=${memory},num_proc=${cpus} -binding linear:${cpus} ${params.project_para} ${params.queue}"
            }
            withName: 'samtools_markdup_dv' { 
                cpus     = "${params.threads}"
                memory   = '60g'
            }
            withName: 'split_bam' { 
                cpus     = "${params.threads}"
                memory   = '1g'
                clusterOptions = "-clear -cwd -l vf=${memory},num_proc=${cpus} -binding linear:${cpus} ${params.project_para} ${params.queue}"
            }
            withName: 'deepVariant_chr' { 
                cpus     = 24
                memory   = '100g'
                container = "${params.deepvariant_image}"
                clusterOptions = "-clear -cwd -l vf=${memory},num_proc=${cpus} -binding linear:${cpus} ${params.project_para} ${params.queue}"
            }
            withName: 'collect_vcf' { 
                cpus     = 1
                memory   = '1g'
                clusterOptions = "-clear -cwd -l vf=${memory},num_proc=${cpus} -binding linear:${cpus} ${params.project_para} ${params.queue}"
            }
            withName: 'merge_vcf' { 
                cpus     = 1
                memory   = '10g'
                clusterOptions = "-clear -cwd -l vf=${memory},num_proc=${cpus} -binding linear:${cpus} ${params.project_para} ${params.queue}"
            }
            withName: 'deepVariant' {
                cpus = 24
                memory = '138g'
                container = "${params.deepvariant_image}"
                clusterOptions = "-clear -cwd -l vf=${memory},num_proc=${cpus} -binding linear:${cpus} ${params.project_para} ${params.queue}"
            }

            withName: 'run_rtgtools' {
                cpus = "${params.threads}"
                memory = '100g'
                clusterOptions = "-clear -cwd -l vf=${memory},num_proc=${cpus} -binding linear:${cpus} ${params.project_para} ${params.queue}"
            }

            // SV process cluster options - new additions
            withName: 'mergePeReads' {
                cpus = 1
                memory = '1g'
                clusterOptions = "-clear -cwd -l vf=${memory},num_proc=${cpus} -binding linear:${cpus} ${params.project_para} ${params.queue}"
            }
            
            withName: 'runPangenie' {
                cpus = "${params.threads}"
                memory = '40g'
                clusterOptions = "-clear -cwd -l vf=${memory},num_proc=${cpus} -binding linear:${cpus} ${params.project_para} ${params.queue}"
            }
            withName: 'Pangenie_postprocess'{
                cpus = 2
                memory = '2g'
                clusterOptions = "-clear -cwd -l vf=${memory},num_proc=${cpus} -binding linear:${cpus} ${params.project_para} ${params.queue}"
            }
            withName: 'SV_add_type'{
                cpus = 1
                memory = '1g'
                clusterOptions = "-clear -cwd -l vf=${memory},num_proc=${cpus} -binding linear:${cpus} ${params.project_para} ${params.queue}"
            }
            withName: 'run_manta'{
                cpus     = "${params.threads}"
                memory   = '6g'
                container = "${params.manta_image}"
                clusterOptions = "-clear -cwd -l vf=${memory},num_proc=${cpus} -binding linear:${cpus} ${params.project_para} ${params.queue}"
            }
            withName: 'truvariBench' {
                cpus = 1
                memory = '1g'
                clusterOptions = "-clear -cwd -l vf=${memory},num_proc=${cpus} -binding linear:${cpus} ${params.project_para} ${params.queue}"
            }

            // CNV  process resource settings
            withName: 'runCNVnator'{
                cpus     = "${params.threads}"
                memory   = '20g'
                container = "${params.CNVnator_image}"
                shell = "$baseDir/runit -s -l `echo \$(basename \$(dirname \$PWD))_\$(basename \$PWD)` -O 15 /bin/bash"
                clusterOptions = "-clear -cwd -l vf=${memory},num_proc=${cpus} -binding linear:${cpus} ${params.project_para} ${params.queue}"
            }
            withName: 'cnvBench'{
                cpus = "${params.threads}"
                memory = '30g'
                clusterOptions = "-clear -cwd -l vf=${memory},num_proc=${cpus} -binding linear:${cpus} ${params.project_para} ${params.queue}"
            }

            // STR process resource settings
            withName: 'runExpansionHunter'{
                cpus = "${params.threads}"
                memory = '8g'
                container = "${params.expansionhunter_image}"
                clusterOptions = "-clear -cwd -l vf=${memory},num_proc=${cpus} -binding linear:${cpus} ${params.project_para} ${params.queue}"
            }
            withName: 'STR_filter'{
                cpus = 1
                memory = '1g'
                clusterOptions = "-clear -cwd -l vf=${memory},num_proc=${cpus} -binding linear:${cpus} ${params.project_para} ${params.queue}"
            }
            withName: 'adjformat'{
                cpus = 1
                memory = '1g'
                clusterOptions = "-clear -cwd -l vf=${memory},num_proc=${cpus} -binding linear:${cpus} ${params.project_para} ${params.queue}"
            }

            // Merge SV, STR, CNV process resource settings
            withName: 'sample_concat'{
                cpus = 1
                memory = '1g'
                clusterOptions = "-clear -cwd -l vf=${memory},num_proc=${cpus} -binding linear:${cpus} ${params.project_para} ${params.queue}"
            }
            withName: 'vcf_normalize_collapse'{
                cpus = 1
                memory = '1g'
                clusterOptions = "-clear -cwd -l vf=${memory},num_proc=${cpus} -binding linear:${cpus} ${params.project_para} ${params.queue}"
            }
            withName: 'exclude_overlap'{
                cpus = 2
                memory = '1g'
                clusterOptions = "-clear -cwd -l vf=${memory},num_proc=${cpus} -binding linear:${cpus} ${params.project_para} ${params.queue}"
            }
            withName: 'reheader_merge_vcf'{
                cpus = 1
                memory = '1g'
                clusterOptions = "-clear -cwd -l vf=${memory},num_proc=${cpus} -binding linear:${cpus} ${params.project_para} ${params.queue}"
            }

            // benchmark
            withName: 'truvariBench'{
                cpus = 1
                memory = '1g'
                clusterOptions = "-clear -cwd -l vf=${memory},num_proc=${cpus} -binding linear:${cpus} ${params.project_para} ${params.queue}"
            }
            withName: 'get_UsageReport'{
                cpus = 1
                memory = '1g'
                clusterOptions = "-clear -cwd -l vf=${memory},num_proc=${cpus} -binding linear:${cpus} ${params.project_para} ${params.queue}"
            }
        }
    }
}
